@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Manrope:wght@300;400;600;800&display=swap");

/* variables */

$desktop: 80rem;
$mobile-responsive-breakpoint: 34.375rem;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 600;
$fw-extrabold: 800;

$fs-heading: 1.875rem;
$fs-hero: 2.8125rem;
$fs-hero-mobile: 2.25rem;
$fs-brand: 2.25rem;
$fs-nav: 1.15rem;

// $color-body: rgba(255, 227, 224, 0.5);
// $color-primary: hsl(7, 83, 63);
// $color-secondary: rgba(243, 134, 119, 0.8);
// $color-secondary-2: hsl(7, 89, 86);
// $color-tags: rgba(255, 227, 224, 1);
// $color-thumb-box: hsl(7, 89, 86);

$color-primary: rgba(239, 98, 108, 1);
$color-secondary: rgba(251, 245, 243, 0.85);
$color-secondary-faded: rgba(251, 245, 243, 0.5);
$color-secondary-2: rgba(239, 98, 108, 0.85);

$color-body: rgba(0, 21, 20, 1);
$color-thumb-box: rgba(3, 83, 164, 0.5);
$color-contact-input: rgba(3, 83, 164, 0.5);
$color-tags: rgba(0, 21, 20, 0.65);
$color-linebreak: rgba(3, 83, 164, 0.4);

/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  box-sizing: border-box;
}

/* defaults */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: $color-body;
}

hr {
  background: $color-linebreak;
  padding: 1px;
  margin: 1rem auto;
}

/* styles */

.container {
  max-width: $desktop;
  padding: 0 0.8rem;
  margin: 0 auto;
}

.button {
  padding: 0.35rem;
  border-radius: 0.25rem;
  background-color: $color-secondary-2;
  color: $color-body;

  font-family: "Manrope", sans-serif;

  cursor: pointer;
}

.button-lg {
  padding: 0.6rem 1.2rem;
}

.button:hover,
.button:focus {
  background-color: $color-primary;
}

/* header/nav */

.header {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-list {
    display: flex;
    justify-content: space-between;

    .nav-list-item {
      margin: 0 1rem;

      a {
        font-size: $fs-nav;
        font-weight: $fw-regular;
        text-decoration: none;
        color: $color-primary;
      }

      a:hover {
        color: $color-secondary;
      }
    }
  }

  .burger-menu {
    height: 2.25rem;
    width: 2.25rem;
    position: relative;
    cursor: pointer;

    div {
      margin: 0.5rem auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      .burger-bar {
        background-color: $color-primary;

        position: absolute;
        display: block;
        width: 100%;
        height: 2.5px;

        border-radius: 1px;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);

        &:first-of-type {
          top: 0;
        }
        &:last-of-type {
          bottom: 0;
        }

        &.clicked,
        span {
          &:first-of-type {
            transform: rotate(45deg);
            top: 0.55rem;
          }

          &:last-of-type {
            transform: rotate(-45deg);
            bottom: 0.55rem;
          }
        }
      }
    }
  }

  // .nav-menu {
  //   width: 100%;
  //   height: 80vh;
  //   background-color: $color-secondary;
  //   position: absolute;
  //   top: 0;
  //   z-index: -1;
  // }

  // .hidden {
  //   display: none;
  // }

  // .visible {
  //   display: inherit;
  // }

  @media (max-width: $mobile-responsive-breakpoint) {
    .nav-list {
      display: none;
    }
  }

  @media (min-width: $mobile-responsive-breakpoint) {
    .burger-menu {
      display: none;
    }
  }
}

.brand {
  font-size: $fs-brand;
  font-weight: $fw-extrabold;
  color: $color-primary;
}

/* hero */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;

  .hero-text {
    font-family: "DotGothic16", sans-serif;
    font-size: $fs-hero;
    font-weight: $fw-regular;
    color: $color-primary;

    position: relative;
  }

  .hero-text:after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0.35rem;
    width: 2.5rem;

    background-color: $color-primary;
  }

  @media (max-width: $mobile-responsive-breakpoint) {
    .hero-text {
      font-size: $fs-hero-mobile;
    }
  }
}

/* projects */

.projects {
  padding: 2rem 0;

  .projects-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .projects-item {
    margin: 4rem 1rem;
  }

  .projects-heading {
    display: flex;
    flex-direction: row-reverse;
    color: $color-primary;

    .projects-text {
      font-size: $fs-heading;
      font-weight: $fw-extrabold;
      line-height: 2;

      padding: 0 0.8rem;

      position: relative;
    }

    .projects-text:after {
      position: absolute;

      content: "";
      background-color: $color-primary;
      bottom: 0;
      right: 0.8rem;
      height: 0.35rem;
      width: 4rem;
    }
  }
}

.card {
  display: grid;
  gap: 2rem;

  .thumb-box {
    width: 16rem;
    height: 16rem;
    background: $color-thumb-box;

    position: relative;
  }

  .tags {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;

    .tag {
      padding: 0.25rem 0.5rem;
      color: $color-secondary;
      background-color: $color-tags;
      margin: 0.25rem 0.25rem;
      border-radius: 1rem;
      font-size: small;
      font-weight: $fw-bold;
      text-align: center;
    }
  }

  .card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 1.5;

      .title {
        color: $color-primary;
        font-size: 1.25rem;
        font-weight: $fw-extrabold;
      }

      .subtitle {
        color: $color-secondary-2;
        font-size: 1rem;
        font-weight: $fw-bold;
      }
    }

    .paragraph {
      color: $color-secondary;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    .link {
      margin: 0.25rem;

      font-weight: $fw-bold;
    }
  }
}

@media (min-width: $mobile-responsive-breakpoint) {
  .card {
    width: 35rem;
    grid-template-columns: 16rem auto;
  }
}

@media (max-width: $mobile-responsive-breakpoint) {
  .card {
    height: 35rem;
    grid-template-rows: 16rem auto;

    .thumb-box {
      min-width: 92vw;
    }
  }
}

/* about */

.about {
  padding: 2rem 0;

  .about-heading {
    display: flex;
    flex-direction: row;
    color: $color-primary;

    .about-text {
      font-size: $fs-heading;
      font-weight: $fw-extrabold;
      line-height: 2;

      padding: 0 0.8rem;

      position: relative;
    }

    .about-text:after {
      position: absolute;

      content: "";
      background-color: $color-primary;
      bottom: 0;
      left: 0.8rem;
      height: 0.35rem;
      width: 3rem;
    }
  }

  .about-card-box {
    padding: 2.5rem 0;
    margin: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-card {
  max-width: 60rem;
  display: grid;
  gap: 2rem;

  .thumb-box {
    width: 14rem;
    height: 14rem;
    background: $color-thumb-box;
    border-radius: 50%;
  }

  .card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5;
    color: $color-primary;

    .titles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      .title {
        font-size: 1.5rem;
        font-weight: $fw-extrabold;
      }
    }

    .paragraph {
      color: $color-secondary;
    }

    .social-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.5rem;
      margin: 1.5rem 0;

      .social-icon svg {
        height: 2.5rem;
        width: 2.5rem;
        color: $color-primary;
      }
    }
  }
}

@media (min-width: $mobile-responsive-breakpoint) {
  .about-card {
    grid-template-columns: 14rem auto;
  }
}

@media (max-width: $mobile-responsive-breakpoint) {
  .about-card {
    height: 40rem;
    grid-template-rows: 14rem auto;

    .thumb-box {
      place-self: center;
    }

    .card-desc {
      .social-icons {
        justify-content: space-around;

        .social-icon svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }
}

/* contact */

.contact {
  padding: 2rem 0;

  .contact-heading {
    display: flex;
    flex-direction: row-reverse;
    color: $color-primary;

    .contact-text {
      font-size: $fs-heading;
      font-weight: $fw-extrabold;
      line-height: 2;

      padding: 0 0.8rem;

      position: relative;
    }

    .contact-text:after {
      position: absolute;

      content: "";
      background-color: $color-primary;
      bottom: 0;
      right: 0.8rem;

      height: 0.35rem;
      width: 3.5rem;
    }
  }

  .contact-form-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;

    .success-message {
      color: $color-secondary;
      font-weight: $fw-bold;
      font-size: 1.5rem;
    }
  }

  .contact-form-box {
    padding: 2.5rem 0.5rem;

    font-weight: $fw-bold;
    font-size: 1.2rem;
    line-height: 1.5;
    color: $color-primary;

    .contact-form {
      max-width: $mobile-responsive-breakpoint;
      margin: 2rem auto;

      .contact-item {
        display: flex;
        flex-direction: column;
        margin: 1rem;

        input,
        textarea {
          -webkit-appearance: none;
          background-color: $color-contact-input;
          color: $color-secondary;

          margin: 1rem 0;
          width: 100%;
          padding: 0.8rem;

          outline: none;
          transition: border 0.25s;
          border-radius: 0.2rem;
        }

        input:focus,
        textarea:focus {
          border-bottom: 0.1rem solid $color-primary;
        }

        input::placeholder,
        textarea::placeholder {
          color: $color-secondary-faded;
        }

        textarea {
          height: 20rem;
        }
      }

      .button {
        font-size: 1.5rem;
        font-weight: $fw-bold;
      }
    }
  }
}

/* footer */

footer.footer {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copyright {
    color: $color-secondary;
  }
}

/* temp */

.wip {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
  font-size: 2rem;
  color: $color-secondary;
}

/* progress bar */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0.4rem;
  background: $color-primary;
  transform-origin: 0%;
  z-index: 99;
}
